.welcome{
    display: flex;
    justify-content: center;
    font-size: 45px;
    text-decoration: underline overline rgba(118,141,123);
    padding-top: 10px;
}
.carrousel {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;

    width: 100%;

}

.carrousel li {
    display: none;
}

.carrousel li img {
    width: 220px;
    height: 330px;
    border-radius: 1rem;
    border-top: 10px solid rgba(174, 160, 144, 0.438);
    border-right: 10px solid rgba(174, 160, 144);
    border-left: 10px solid rgba(174, 160, 144);
    border-bottom: 10px solid rgba(174, 160, 144, 0.438);
}

.carrousel li.active {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.botonera {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.botonAnterior {
    background-color: rgba(118,141,123);
    color:white;
    height: 2rem;
    padding: .25rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    margin: .25rem;
}

.botonSiguiente {
    background-color: rgba(118,141,123);
    color: white;
    height: 2rem;
    padding: .25rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    margin: .25rem;
}
.tituloContaminacion{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:  rgba(174, 160, 144, 0.579);
}
.contenidoContaminacion{
    font-weight:800;
    padding: 10px;
    padding-bottom: 25px;
    font-size: 24px;
    background-color:  rgba(174, 160, 144, 0.581);
    
}