.carrousel {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* padding: 2rem; */
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
}
.carrousel li {
    display: none;

}

.carrousel li img {
    width: 480px;
    height: 840px;
    border-radius: 1rem;
}

.carrousel li.active {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.botonera{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}
.botonAnterior{
    background-color: rgb(174, 160, 144);
    color: white ;
    height: 2rem;
    padding: .25rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    margin: .25rem;
}
.botonSiguiente{
    background-color: rgb(174, 160, 144);
    color:white ;
    height: 2rem;
    padding: .25rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    margin: .25rem;
}